<html>
<head>
</head>
<body>
<form action="/post" method="POST">
	<h1>Welcome {{username}}</h1> 
	<input type="text" name = "blog" placeholder="post" required/> </br>
	<input type="submit" value = Post />
</form>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<a href = '/managetags/0/default/none/none'>Manage Tags</a>

<table>
	<th>pId</th>
	<th>Time</th>
	<th>User</th>
	<th>Content_name</th>
	<th>Tagged</th>
	<th>Comments</th>

{% for line in posts %}
	<tr>
		<td>{{line.id}}</td>
		<td>{{line.post_timest}}</td>
		<td>{{line.post_username}}</td>
		<td>{{line.content_name }}</td>
		<td>{{line.tagged}}</td>
		<td>{{line.comment}}</td>
		<!--
		{% set usernames = (line.comment_username|string).split(',') %}
		{% set timests = (line.comment_timest|string).split(',') %} 
		{% set texts = (line.comment_text|string).split(',') %}
		{% for i in range(usernames|length) %}
		<td>{{usernames[i]}}{{timests[i]}}{{texts[i]}}</td>
		{% endfor %}
		-->
	</tr>
{% endfor %}
</table>

<a href="/logout">Logout</a>

</body>


</html>
