<html>
<head>
	<style type="text/css">
	
		table, th, td{
			border: 1px solid black;
		}

		body{
			filter: invert(0%);
			background: rgb(255,255,255)
		}
	
	</style>
</head>
<body id="theBody">
<h1>Welcome {{username}}</h1> 

<form name="theForm" action = "/nightMode" method="POST">
	<input type="checkbox" name="invert" id="night_mode" onclick="submitChangeColor()" ><label for="night_mode">Night Mode</label>
</form>

<a href = '/post'>Post a Content</a>
<a href = '/managetags/0/default/none/none'>Manage Tags</a>
<a href = '/addingfriend'>Add a Friend</a>
<a href = '/creategroup'>Create a Friend Group</a>

<table>
	<th>pId</th>
	<th>Time</th>
	<th>User</th>
	<th>Content_name</th>
	<th>Image</th>
	<th>Tagged</th>
	<th>Comments</th>
	<th>Tag Time</th>

{% for line in posts %}
	<tr>
		<td>{{line.id}}</td>
		<td>{{line.post_timest}}</td>
		<td>{{line.post_username}}</td>
		<td>{{line.content_name }}</td>
		<td><img src={{line.file_path}} onerror="this.style.display='none'" height="40" width="40"></td>
		<td>{{line.tagged}}</td>
		<td>{{line.comment}}</td>
		<td><input type = "button" value = "Tag Someone" onclick = "window.location='/tagging/{{line.id}}'"; /"></td>
		<!--
		{% set usernames = (line.comment_username|string).split(',') %}
		{% set timests = (line.comment_timest|string).split(',') %} 
		{% set texts = (line.comment_text|string).split(',') %}
		{% for i in range(usernames|length) %}
		<td>{{usernames[i]}}{{timests[i]}}{{texts[i]}}</td>
		{% endfor %}
		-->
	</tr>
{% endfor %}
</table>

<input type = "button" value = "Make me public!!" onclick="askPublic()")/>
<a href="/logout">Logout</a>
<script>
	function askPublic() {
		public = confirm("Warning: this will make all of your posts public. You cannot undo this. Are you sure you want to go public?");
		if (public == true) 
			window.location = "/publicconfirm";
	}
</script>
<script
	  src="https://code.jquery.com/jquery-2.2.4.min.js"
	  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
	  crossorigin="anonymous">
</script>
<script type="text/javascript">
	    // wait for dom to load
    $(document).ready(function() {
    	setColorMode()
    });

    function setColorMode(){
    	console.log("color is",{{colors[0].night_mode}});
    	document.getElementById("night_mode").checked = {{colors[0].night_mode}};
    	invertColors();
    }

    function invertColors(){
    	 var x = document.getElementById("night_mode").checked;
    	 if(x){
	    	document.getElementById("theBody").style.filter = "invert(100%)"
	    	document.getElementById("theBody").style.background = 'rgb(0,0,0)'
	    }
	    else{
	    	document.getElementById("theBody").style.filter = "invert(00%)"
	    	document.getElementById("theBody").style.background = 'rgb(255,255,255)'	
	    }
    }

    function submitChangeColor(){
		document.theForm.submit()
    }

</script>
</body>


</html>
