<html>
<head>
	<style type="text/css">
	
		table, th, td{
			border: 1px solid black;
		}

		body{
			filter: invert(0%);
			background: rgb(255,255,255)
		}
	
	</style>
</head>
<body id="theBody">
<h1>Welcome {{username}}</h1> 
<h2>Make a Post</h2>
<p>The character limit on image URL is 50. (Hint: use tinyurl.com)</p></br>

<form action = "/makePost" method="POST">
	<input type = "text" name = "title" placeholder = "Title" required/></br>
	<input type = "text" name = "path" placeholder = "URL only" maxlength="50"/></br>
	<input type = "checkbox" name = "public" />Public?</br>
	<fieldset>
	{% for friend in friends %}
	<ul>
		<li>
			<input type = "checkbox" name="friend_group_list" value={{friend.group_name}} />{{friend.group_name}}</br>
		</li>
	</ul>
	{% endfor %}
	</fieldset>
	<input type = "submit" value = "Submit"/>

</form>

<a href="/home">Go back</a>
<a href="/logout">Logout</a>

<script
	  src="https://code.jquery.com/jquery-2.2.4.min.js"
	  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
	  crossorigin="anonymous">
</script>
<script type="text/javascript">
	    // wait for dom to load
    $(document).ready(function() {
    	invertColors()
    });

    function invertColors(){
    	 var x = {{colors[0].night_mode}};
    	 if(x == 1){
	    	document.getElementById("theBody").style.filter = "invert(100%)"
	    	document.getElementById("theBody").style.background = 'rgb(0,0,0)'
	    }
	    else{
	    	document.getElementById("theBody").style.filter = "invert(00%)"
	    	document.getElementById("theBody").style.background = 'rgb(255,255,255)'	
	    }
    }

</script>

</body>


</html>
