<html>
<head>
</head>
<body>
<h1>Hi {{username}}</h1>

<style type="text/css">
</style>

<h4>Choose a person to tag!</h4>

<form action = "/taggingconfirm" method="POST">
	<fieldset>
	{% for person in persons %}
	<ul>
		<li>
			<input type="radio" name="to_tag_person" value = {{person.username}} />{{person.first_name}} {{person.last_name}}
		</li>
	</ul>
	{% endfor %}
	</fieldset>
	<input type = "submit" value = "Tag" />
</form>

<a href="/">Go back</a>
<a href="/logout">Logout</a>

</body>


</html>
