<html>
<head>
	<style type="text/css">
	
		table, th, td{
			border: 1px solid black;
		}

		body{
			filter: invert(0%);
			background: rgb(255,255,255)
		}
	
	</style>
</head>
<body id="theBody">
<h1>Welcome {{username}}</h1>

<table>
	<th>Content Name</th>
	<th>ID</th>
	<th>Taggee</th>
	<th>Tagger</th>
	<th>Options</th>

{% for tag in tags %}
	<tr>
		<td>{{tag.content_name}}</td>
		<td>{{tag.id}}</td>
		<td>{{tag.username_taggee}}</td>
		<td>{{tag.username_tagger}}</td>
		<td>
			<input type = "button" value = "Accept" onclick = "window.location='/managetags/{{tag.id}}/accept/{{tag.username_taggee}}/{{tag.username_tagger}}'"; /">
			<input type = "button" value = "Decline" onclick = "window.location='/managetags/{{tag.id}}/decine/{{tag.username_taggee}}/{{tag.username_tagger}}'"; />
		</td>

		</td>
	</tr>
{% endfor %}
</table>

<a href="/home">Go back</a>
<a href="/logout">Logout</a>

<script
	  src="https://code.jquery.com/jquery-2.2.4.min.js"
	  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
	  crossorigin="anonymous">
</script>
<script type="text/javascript">
	    // wait for dom to load
    $(document).ready(function() {
    	invertColors()
    });

    function invertColors(){
    	 var x = {{colors[0].night_mode}};
    	 if(x == 1){
	    	document.getElementById("theBody").style.filter = "invert(100%)"
	    	document.getElementById("theBody").style.background = 'rgb(0,0,0)'
	    }
	    else{
	    	document.getElementById("theBody").style.filter = "invert(00%)"
	    	document.getElementById("theBody").style.background = 'rgb(255,255,255)'	
	    }
    }

</script>

</body>


</html>
